@font-face {
  font-family: 'Good Vibration';
  src: url('../fonts/GoodVibrationsScript.ttf');
}
html,
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
#animate {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
nav {
  background: -webkit-linear-gradient(#050505, #353535);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#050505, #353535);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#050505, #353535);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#050505, #353535);
  /* Standard syntax */
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  position: fixed;
  opacity: 0.5;
  z-index: 99;
  height: 10%;
  min-height: 130px;
  max-height: 150px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 1024px) and (max-width: 1289px) {
  nav {
    height: 7%;
  }
}
@media screen and (max-width: 1023px) {
  nav {
    height: 5%;
    min-height: 100px;
  }
}
nav #menu-btn {
  float: right;
  position: relative;
  display: none;
  width: 5em;
  margin-top: 1em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 1023px) {
  nav #menu-btn {
    display: block;
  }
}
nav img {
  float: left;
  margin-top: 1.5em;
  padding-left: 3em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  max-width: 100%;
}
@media screen and (min-width: 1024px) and (max-width: 1289px) {
  nav img {
    max-width: 9.5em;
  }
}
@media screen and (max-width: 1023px) {
  nav img {
    max-width: 9em;
    padding-left: 1em;
  }
}
nav ul {
  float: right;
  list-style: none;
  text-align: right;
  margin-top: 3.5em;
  padding-right: 3em;
  font-size: 1em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 1024px) and (max-width: 1289px) {
  nav ul {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1023px) {
  nav ul {
    display: none;
  }
}
nav li {
  display: inline-block;
  border-radius: 1em;
  margin: 0 0.5em;
}
nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 2em;
}
nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#login-btn {
  border-style: solid;
  border-radius: 1em;
  border-width: 0.16em;
  border-color: white;
}
#feiseanna-section {
  background-image: url("../img/bg.png");
  padding-top: 15%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#feiseanna-section .subsection {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 701px) and (max-width: 1023px) {
  #feiseanna-section {
    padding-top: 20%;
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  #feiseanna-section {
    padding-top: 30%;
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  #feiseanna-section {
    padding-top: 40%;
    padding-bottom: 10%;
  }
}
@media screen and (max-width:400px) {
  #feiseanna-section {
    padding-top: 50%;
    padding-bottom: 15%;
  }
}
#content {
  text-align: center;
}
#search-title {
  color: white;
  font-size: 2em;
}
#search-title span {
  font-family: 'Good Vibration', cursive;
  font-size: 1.5em;
}
@media screen and (min-width: 1024px) and (max-width: 1289px) {
  #search-title {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 1023px) {
  #search-title {
    font-size: 1.4em;
  }
}
@media screen and (max-width:400px) {
  #search-title {
    font-size: 1em;
  }
}
#search-form {
  padding: 1em 0 2em 0;
}
#search-form input {
  padding: 1em;
}
#searchbox {
  display: inline-flex;
}
#register-btns button {
  padding: 1em;
  margin: 0.5em;
}
#featured-slide {
  background-color: white;
  display: flex;
}
#left {
  float: left;
}
#right {
  float: right;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.card {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
}
.card .card-img {
  padding-top: 75%;
  background-image: url('../img/image_card.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
.card .card-txt {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7%;
}
