@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.ttf');
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: 'Good Vibration';
  src: url('../fonts/GoodVibrationsScript.ttf');
}
html,
body {
  background-color: white;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
#animate {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 99;
  height: 20%;
  max-height: 150px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 1056px) and (max-width: 1289px) {
  nav {
    height: 120px;
  }
}
@media screen and (max-width: 1055px) {
  nav {
    background-color: #232627;
    height: 50px;
  }
}
.show {
  max-height: 20em;
  float: right;
}
@media screen and (max-width: 1055px) {
  .show {
    background-color: #232627;
  }
}
nav #menu-btn {
  float: right;
  position: relative;
  height: 1em;
  margin-top: 1em;
  margin-right: 2em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
nav img {
  float: left;
  margin-top: 1.5em;
  padding-left: 3em;
  height: 6.5em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 1056px) and (max-width: 1289px) {
  nav img {
    height: 5em;
  }
}
@media screen and (max-width: 1055px) {
  nav img {
    height: 3em;
    padding-left: 1em;
    margin-top: 0.2em;
  }
}
nav ul {
  float: right;
  overflow: hidden;
  list-style: none;
  text-align: right;
  padding-top: 3em;
  margin: 0;
  padding-right: 3em;
  font-size: 1em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 1056px) and (max-width: 1289px) {
  nav ul {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1055px) {
  nav ul {
    width: 60%;
    max-height: 0;
    padding: 0;
  }
}
nav li {
  display: inline-block;
  border-radius: 1em;
  margin: 0 0.5em;
}
@media screen and (max-width: 1055px) {
  nav li {
    box-sizing: border-box;
    width: 100%;
    text-align: right;
  }
}
nav .menubar {
  background: #232627;
  color: white;
  width: 60%;
  float: right;
  padding-bottom: 1em;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1055px) {
  nav .menubar {
    display: inline-block;
  }
}
nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 2em;
}
nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.smaller {
  background-color: #232627;
  height: 100px;
}
@media screen and (min-width: 1056px) and (max-width: 1289px) {
  .smaller {
    height: 85px;
  }
}
@media screen and (max-width: 1055px) {
  .smaller {
    height: 50px;
  }
}
.smaller ul {
  padding-top: 2em;
}
.smaller img {
  margin-top: 0.5em;
  height: 5.8em;
  padding-left: 2.8em;
}
@media screen and (min-width: 1056px) and (max-width: 1289px) {
  .smaller img {
    height: 4.7em;
  }
}
@media screen and (max-width: 1055px) {
  .smaller img {
    height: 3em;
    padding-left: 1em;
    margin-top: 0.2em;
  }
}
#login-btn {
  border-style: solid;
  border-radius: 1em;
  border-width: 0.16em;
  border-color: white;
}
#feiseanna-section {
  background-image: url("../img/bg.png");
  padding-top: 15%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#feiseanna-section .subsection {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 701px) and (max-width: 1023px) {
  #feiseanna-section {
    padding-top: 17%;
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  #feiseanna-section {
    padding-top: 20%;
    padding-bottom: 10%;
  }
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  #feiseanna-section {
    padding-top: 25%;
    padding-bottom: 10%;
  }
}
@media screen and (max-width:400px) {
  #feiseanna-section {
    padding-top: 30%;
    padding-bottom: 15%;
  }
}
.content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#search-content {
  padding: 1em 0 2em 0;
  letter-spacing: 2px;
}
#search-title {
  color: white;
  font-size: 2em;
}
#search-title span {
  font-family: 'Good Vibration', cursive;
  font-size: 1.5em;
}
@media screen and (min-width: 1056px) and (max-width: 1289px) {
  #search-title {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 1055px) {
  #search-title {
    font-size: 1.4em;
  }
}
@media screen and (max-width:400px) {
  #search-title {
    font-size: 1em;
  }
}
#search-form {
  padding: 1em 0 2em 0;
}
#search-form select {
  padding: 1.05em 1em;
  width: 17em;
  border: 0;
  border-style: hidden;
}
#search-form #searchbox {
  padding: 1em;
}
#search-form #searchbox input[type="text"] {
  padding: 1.05em 1em;
  border: 0;
  width: 13em;
  border-style: hidden;
}
#search-form #searchbox input[type="submit"] {
  padding: 0.9em 0.9em;
  font-size: 1em;
  font-weight: bold;
  background-color: #c9ea3e;
  border: #c9ea3e;
  border-style: hidden;
}
/* all */
#searchbox {
  display: inline-flex;
}
#register-btns button {
  padding: 1em 4em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: #c9ea3e;
  border: #c9ea3e;
  border-style: hidden;
}
.country {
  padding: 1em 1em 1em 3em;
  margin-right: 1em;
}
#featured-slide {
  background-color: white;
  display: flex;
}
#left {
  float: left;
  z-index: 999;
}
#right {
  float: right;
  z-index: 999;
}
.card-content {
  position: relative;
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.slick-prev {
  float: left;
  background: none;
  border: none;
}
.slick-prev img {
  width: 100%;
}
@media screen and (max-width:400px), screen and (max-width: 1055px) {
  .slick-prev img {
    width: 200%;
  }
}
.slick-prev:focus {
  outline: none;
}
.slick-next:focus {
  outline: none;
}
.slick-next {
  float: right;
  background: none;
  border: none;
}
.slick-next img {
  width: 100%;
}
@media screen and (max-width:400px), screen and (max-width: 1055px) {
  .slick-next img {
    width: 200%;
  }
}
.slick-dots {
  display: none;
}
.card {
  outline: none;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding: 8em 2em 5em 2em;
}
@media screen and (max-width: 1055px) {
  .card {
    padding: 8em 1em 5em 2em;
  }
}
.card .card-img {
  padding-top: 75%;
  background-image: url('../img/image_card.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
.card .card-txt {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 7%;
}
#events-section {
  background-image: url("../img/bg.png");
  padding-top: 5%;
  padding-bottom: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#events-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
#events-tab {
  padding: 1em;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 900px) {
  #events-tab {
    width: 90%;
  }
}
#events-slide {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 35%;
}
@media screen and (max-width: 900px) {
  #events-slide {
    width: 90%;
  }
}
#about-section {
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 80%;
  padding: 10% 0;
  margin-left: auto;
  margin-right: auto;
}
.about-content {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}
@media screen and (max-width: 900px) {
  .about-content {
    width: 90%;
  }
}
.about-circle {
  display: inline-block;
  text-align: center;
  margin: 0;
  width: 13em;
  height: 13em;
  border-radius: 100%;
  background-image: url('../img/image_card.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
@media screen and (max-width: 700px) {
  .about-circle {
    width: 10em;
    height: 10em;
  }
}
.about-txt {
  text-align: center;
  background: none;
  color: black;
  padding: 7%;
  font-size: 2vw;
}
@media screen and (max-width: 700px) {
  .about-txt {
    font-size: 1em;
  }
}
.about-txt p {
  padding: 0.5em;
  font-weight: bold;
}
#footer-section {
  background: #232627;
  padding: 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
}
#footer-section hr {
  width: 70%;
  margin-left: 15%;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#join-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#join-title p {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.column {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 700px) {
  .column {
    width: 90%;
  }
}
.column ul {
  display: inline-block;
  list-style: none;
  font-size: 1.5vw;
  padding: 0;
  color: white;
}
@media screen and (max-width: 700px) {
  .column ul {
    font-size: 1.25em;
  }
}
.column ul .list-title {
  color: limegreen;
}
.column ul li {
  text-align: left;
}
.a-line {
  width: 70%;
  text-align: center;
  line-height: 1.2em;
}
#social-links ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
#social-links li {
  display: inline-block;
}
.resp-tabs-list li {
  background: linear-gradient(#ecf0f1, white);
}
.resp-tabs-list .green-tab {
  background: #c9ea3e;
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg);
}
.resp-tabs-list .resp-tab-active {
  background: white;
}
