@menucolor1: #050505;
@menucolor2: #353535;
@white: #ffffff;
@lesswidth: ~"screen and (min-width: 1024px) and (max-width: 1289px)";
@lesserwidth: ~"screen and (max-width: 1023px)";
@middletwidth: ~"screen and (min-width: 401px) and (max-width: 500px)";
@middletwidth2: ~"screen and (min-width: 501px) and (max-width: 700px)";
@middletwidth3: ~"screen and (min-width: 701px) and (max-width: 1023px)";
@leastwidth: ~"screen and (max-width:400px)";
@font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-Regular.ttf');  font-weight: 400; font-style: normal; }
@font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-Light.ttf');  font-weight: 300; font-style: light; }
@font-face { font-family: 'Open Sans'; src: url('../fonts/OpenSans-Semibold.ttf');  font-weight: 600; font-style: bold;}
@font-face{
  font-family: 'Good Vibration';
  src:url('../fonts/GoodVibrationsScript.ttf');
}

html, body {
	font-size: 100%;
	margin: 0;
	padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#animate{
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


nav{

 //background: linear-gradient(@menucolor1, @menucolor2); /* Standard syntax */
background-color: rgba(0, 0, 0, 0.3);
 padding: 0;
 margin: 0;
width: 100%;
top:0;
position: fixed;
	z-index: 99;
  height: 20%;
  min-height: 80px;
  max-height: 150px;
 #animate;


@media @lesswidth{
  height: 7%;
}
  @media @lesserwidth {

    height: 5%;
    min-height: 100px;
  }
}

.smaller{
  background-color: rgba(0, 0, 0, 1);
  height: 100px;

  @media @lesswidth{
    height: 85px;
  }
  @media @lesserwidth {

    height: 75px;
  }


  ul{
    margin-top: 2em;
  }
  img{
    margin-top: 0.5em;
    height: 5.8em;
    padding-left: 2.8em;
    @media @lesswidth{
    height: 4.7em;
    }
    @media @lesserwidth {
      height: 4.5em;
      padding-left: 1em;
      margin-top: 1em;
    }
  }

  #menu-btn{
    @media @lesserwidth {
    height: 4em;
    }
  }
}
nav{

  #menu-btn{
    float:right;
    position: relative;
    display: none;
    height: 4em;
    margin-top: 1em;
    margin-right: 2em;
    #animate;
    @media @lesserwidth {
      display:block;
    }

  }
  img{
    float:left;
    margin-top: 1.5em;
    padding-left: 3em;
    height: 6.5em;
    #animate;


    @media @lesswidth{
    height: 5em;
    }

    @media @lesserwidth {
    height: 4.5em;
      padding-left: 1em;
      margin-top: 1em;
    }

  }
  ul{
    float:right;
      list-style: none;
      text-align: right;
      margin-top: 3.5em;
      padding-right: 3em;
      font-size: 1em;
      #animate;
      @media @lesswidth {
        font-size: 0.8em;
      }

      @media @lesserwidth {
        display:none;
      }

  }

  li{
    display: inline-block;
    border-radius: 1em;
    margin: 0 0.5em;
  }

  a{
    color: white;

    display: inline-block;
    text-decoration: none;
    padding: 0.5em 2em;
  }

  li:hover{
      background-color: rgba(255, 255, 255, 0.1);
  }
}

#login-btn{
  border-style: solid;
  border-radius: 1em;
  border-width: 0.16em;
  border-color: white;
}

#feiseanna-section{

  background-image: url("../img/bg.png");
  padding-top: 15%;
  padding-bottom: 5%;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;

   .subsection{
     width: 100%;
     background-color: rgba(0,0,0,0.2);
   }

   @media @middletwidth3{
     padding-top: 20%;
     padding-bottom: 10%
   }

@media @middletwidth2{
  padding-top: 30%;
  padding-bottom: 10%
}
@media @middletwidth{
  padding-top: 40%;
  padding-bottom: 10%
}

@media @leastwidth {
padding-top: 50%;
padding-bottom: 15%;
}
}

.content{
  text-align: center;
}

#search-title{
  color: white;
  font-size: 2em;

  span{
    font-family: 'Good Vibration', cursive;
    font-size: 1.5em;
  }

@media @lesswidth {
  font-size: 1.7em;
}

@media @lesserwidth{
  font-size: 1.4em;
}

@media @leastwidth{
  font-size: 1em;
}



}

#search-form{
  padding: 1em 0 2em 0;
  input{
    padding: 1em;
  }
}

#searchbox{
  display: inline-flex;
}
#register-btns{
  button{
    padding: 1em;
    margin: 0.5em;
  }
}

#featured-slide{
  background-color: white;
  display: flex;
}

#left{
  float:left;
  z-index: 999;
}

#right{
  float: right;
  z-index: 999;
}

.card-content{
//  display: flex;
  //flex-wrap: wrap;
//  width: 80%;
  //  margin-left: auto;
    // margin-right: auto;

    position: relative;

display: flex;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.slick-prev{
  float:left;
  background: none;
border: none;
img{
width: 100%;

@media @leastwidth, @lesserwidth{
  width:200%;
}

}
}

.slick-prev:focus{
  outline: none;
}

.slick-next:focus{
  outline: none;
}

.slick-next{
  float:right;
  background: none;
border: none;
img{
width: 100%;
@media @leastwidth,  @lesserwidth{
  width:200%;
}

}
}

.slick-dots{
  display: none;
}

.card {
outline: none;
margin-left: auto;
margin-right: auto;
float:left;
padding: 8em 2em 5em 2em;

@media @lesserwidth{
padding: 8em 1em 5em 2em;
}





  .card-img{
      padding-top: 75%;
      background-image: url('../img/image_card.jpg');
      background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  }

  .card-txt{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 7%;
  }
}

#events-section{

  background-image: url("../img/bg.png");
  padding-top: 15%;
  padding-bottom: 5%;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

#about-section{

  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 80%;
  padding: 10% 0;
  margin-left: auto;
  margin-right: auto;
}
.about-content {

width: 30%;
text-align: center;
margin-left: auto;
margin-right: auto;

@media screen and (max-width: 700px){
  width: 90%;
}

}

.about-circle {
  display: inline-block;
  text-align: center;
  margin: 0;
width: 10em;
height: 10em;
border-radius: 100%;
  background-image: url('../img/image_card.jpg');
  background-size: cover;
background-repeat: no-repeat;
background-position: top left;

@media screen and (max-width: 700px){
  width: 15em;
  height: 15em;
}
}
.about-txt {
  text-align: center;
  background: none;
  color: black;
  padding: 7%;
  font-size: 2vw;
  @media screen and (max-width: 700px){
    font-size: 1.5em;
  }
}


#footer-section{
  background-image: url("../img/bg.png");

  padding: 5% 0;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   color: white;
   hr{
     width:70%;
     margin-left: 15%;
   }
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#join-title{
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  p{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}}

.column{
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 700px){
    width: 90%;
  }

  ul{
    display: inline-block;
    list-style: none;
    font-size: 1.5vw;

    padding: 0;
    color:white;
    @media screen and (max-width: 700px){
      font-size: 1.25em;
    }

    .list-title{
      color: limegreen;
    }
    li{
      text-align:left;
    }
  }

}

.a-line{
    width:70%;
    text-align:center;
    line-height:1.2em;

}

#social-links{
  ul{
  list-style: none;
  text-align: center;
  padding:0
}
li{
  display: inline-block;
}
}
